.orders-container {
    transition: all 0.3s ease-in-out;
}

.orders-container .search {
    padding: 0.45rem;
}

.search .search-title {
    /* font-size: 18px; */
    font-weight: 600;
}

.orders-container .search input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
}

.orders-container .search input:focus-visible {
    outline: none;
}

.orders-list {
    max-height: 90vh;
    overflow: auto;
}

.orders-list::-webkit-scrollbar {
    display: none;
}

.orders-list .order-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
    border: 1px solid #f0f0f0;
    padding: 1rem 1.4rem;
    cursor: pointer;
}

.order-wrapper.active {
    background-color: #f1f3f6;
    border-right-color: transparent;
}

.orders-list .order-wrapper .image {
    width: 15%;
}

.orders-list .order-wrapper .image img {
    width: 50px;
    height: 50px;
}

.orders-list .order-wrapper .content {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.order-wrapper .content .last-msg {
    font-size: 14px;
    color: #868686;
}


.orders-list .order-wrapper .timestamp {
    width: 15%;
    font-size: 14px;
    color: #868686;
}